*{
    margin: 0;
    box-sizing: border-box;
}
body{

    background-color: #141414;
    color: white;

}

h2{

    font-size: 1.4em;
}

nav{
    display: flex;
}

nav img{
    width: 85px;
}
nav ul {

    display: flex;
    list-style: none;

}

nav ul li {

   padding: 1em;
}

.container{

    max-width: 1170px;
    margin: 0 auto;
    display: block;
}


.list{

    display: flex;
    overflow-x: scroll;
    padding: 20px;


}

.header{

    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
}

.headerLogo {

    display: flex;
    justify-content: center;
    align-items: center;
}
.row{

    margin-left: 30px;

}

.list::-webkit-scrollbar{

    display: none;
}


.list div {

    width: 11.5rem;
    max-height: 100px;
    margin-right: 10px;

}

.listElements{

    width: 11.5rem;
    max-height: 100px;
    object-fit: cover;
    border-radius: 4px;
    transition: all 1s;

}

.listElements:hover{
    transform: scale(1.05);
}
