*{
    margin: 0;
    box-sizing: border-box;
}
body{

    background-color: black;
    color: white;

}

h2{

    font-size: 1.5em;
}


.list{

    display: flex;
    overflow-x: scroll;
    padding: 20px;


}

.row{

    margin-left: 20px;

}

.list::-webkit-scrollbar{
    
    display: none;
}


.list div {

    width: 11.5rem;
    max-height: 100px;
    margin-right: 10px;

}

.listElements{

    width: 11.5rem;
    max-height: 100px;
    object-fit: cover;
    border-radius: 4px;
    transition: all 1s;

}

.listElements:hover{
    transform: scale(1.05);
}
